<div class="col-sm-8 blog-main">

    <h2><%= @blog.title %></h2>
    <nav class="breadcrumb", align="right">
        <a <%= link_to fa_icon('pencil-square-o'), edit_blog_path, class:"breadcrumb-item btn btn-primary" if logged_in?(:site_admin) %></a>
        <a class="btn btn-info" <%= link_to @blog.topic.title, topic_path(@blog.topic), class:"breadcrumb-item" %></a>
        <a class="btn btn-default" <%= link_to fa_icon('arrow-left') + " Back", blogs_path, class:"breadcrumb-item" %></a>
        <a <%= link_to fa_icon('trash-o'), @blog, method: :delete, data: { confirm: 'Are you sure?' }, class:"breadcrumb-item btn btn-danger" if logged_in?(:site_admin) %></a>
    </nav>
    
    <p><%= markdown @blog.body %></p>

    <div id="comments" data-blog-id="<%= @blog.id %>">
        <%= render 'comments/comment_form' %>
    </div>
    
    <%= render @blog.comments %>
</div>
